<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name = "viewport"  content="minimal-ui width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0">
    <meta name = "msapplication-tap-highlight" content="no">
    <title>Stranded | Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/side-menu.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
  </head>

  <body>
  <div class="bg-prm-color push-notifications">
    <ul class="user-list"><li class="user table"><a href="#" class="full-width"><div class="user-photo table-cell"><img alt="" src="https://media.licdn.com/mpr/mprx/0_O-y3pBT1vtiiPh87YvOOpz5YzBL71_37yzeYpqbGotAY2F9ftquDtN12RJ5lKkh_0AY01PvfGtSE"></div><div class="user-details table-cell full-width"><h3>Nikos Rossolatos</h3><p>Lead Developer</p></div></a><div class="table-cell"><i id="close-notifications" class="fa fa-times close-notification"></i></div></li></ul>
  </div>
  	<section class="background-image">
      <div class="overlay"></div>
      <div class="menu-wrap">
        <nav class="menu">
          <div class="icon-list">
            <h2>Stranded</h2>
            <a href="/" id="agendaLink"><i class="fa fa-fw fa-dashboard"></i><span>Dashboard</span></a>
            <a href="/messages" id="panelRef"><i class="fa fa-fw fa-envelope-o"></i><span>Messages</span></a>
            <a href="#" id="sponsorsLink"><i class="fa fa-fw fa-cogs"></i><span>Profile</span></a>
            <a href="/logout" id="aboutLink"><i class="fa fa-fw fa-sign-out"></i><span>Logout</span></a>
          </div>
        </nav>
        <button id="close-button" class="close-button">Close menu</button>
      </div>
      <header>
        <a href="#" id="open-button" class="white-color"><i class="fa fa-bars"></i></a>
        <div class="right">
          <a href="#" class="white-color notifications-container" id="notifications"><span class="notifications bg-prm-color">4</span> <i class="fa fa-bell-o"></i></a>
        </div>
        <form class="search-form" id="search-form">
          <div class="input with-icon">
            <i class="fa fa-search"></i>
            <input id="search-input" type="text" placeholder="find people">
          </div>
          <button class="hide" type="submit"></button>
        </form>
      </header>
    </section>
    <section class="bg-grey">
      <div class="top-bar">
        <div class="select-bar">
          <select name="selector" id="event-selector">
            <option value="popular">Most Popular</option>
            <option value="latest">Latest</option>
          </select>
          <i class="fa fa-angle-down"></i>
        </div>
        <div class="choices right" id="option-list">
          <a href="#" class="active" data-option="events">Events</a>
          <span>/</span>
          <a href="#" data-option="users">Attendees</a>
        </div>
      </div>
      <div id="cards" class="cards user-list clearfix">
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/libs/crossvent.min.js"></script>
    <script src="/js/dashboard.js"></script>
  </body>

</html>
