<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name = "viewport"  content="minimal-ui width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0">
    <title>Stranded | Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
  </head>

  <body>
  	<section class="fullscreen background-image">
  		<section class="logo">
  			<img src="/img/logo_transparent_white@2.png" alt="Stranded logo">
  		</section>
  		<section class="login-form">
  			<form>
	  			<div class="input">
	  				<input type="text" placeholder="username">
	  				<i class="fa fa-user"></i>
	  			</div>
	  			<div class="input">
	  				<input type="password" placeholder="Password">
	  				<i class="fa fa-lock"></i>
	  			</div>
	  			<button class="button button-rounded bg-prm-color">Sign in</button>
	  			<a href="#" class="button button-rounded bg-linkedin-color"><i class="fa fa-linkedin"></i> Sign in using linkedin</a>
  			</form>
  		</section>
  		<footer>
  			<p>Dont have an account? <a href="#" class="prm-color">Sign up</a></p>
  		</footer>
  	</section>
  </body>

</html>
