<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name = "viewport"  content="minimal-ui width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0">
    <meta name = "msapplication-tap-highlight" content="no">
    <title>Stranded | Create your account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
  </head>

  <body class="">
  	<section class="fullscreen background-image">
  		<section class="logo">
  			<img src="/img/logo_transparent_white@2.png" alt="Stranded logo">
  		</section>
  		<section class="login-form">
  			<form>
	  			<div class="input with-icon">
	  				<i class="fa fa-user"></i>
	  				<input class="white-color" type="text" name="username" placeholder="Username" required>
	  			</div>
	  			<div class="input with-icon">
	  				<i class="fa fa-lock"></i>
	  				<input class="white-color" type="password" placeholder="Password" name="password">
	  			</div>
	  			<button type="submit" class="button button-big button-rounded bg-prm-color">Create account</button>
  			</form>
  		</section>
  		<footer class="footer-bottom">
  			<p><a href="/" class="prm-color">Go back</a> to home menu</p>
  		</footer>
  	</section>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script>
		$(function () {
			$("#error").hide();
			$('form').on('submit', function(event) {
				event.preventDefault();
					$.ajax({
						url: '/create_user',
						type: 'post',
						data: $(this).serializeArray(),
					})
					.done(function(data) {
						if(data.data=="User already exists"){
							$("#error").show();
							$("#error").html("User already exists");

						}
						else{
							window.location.href="/";
						}
				});
			});
		});
	</script>
  </body>

</html>