<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name = "viewport"  content="minimal-ui width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0">
    <meta name = "msapplication-tap-highlight" content="no">
    <title>Stranded | Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/side-menu.css">
    <link rel="stylesheet" type="text/css" href="/css/insignia.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
  </head>

  <body>
    <div class="overlay"></div>
      <div class="menu-wrap">
      <nav class="menu">
        <div class="icon-list">
          <h2>Stranded</h2>
          <a href="/" id="agendaLink"><i class="fa fa-fw fa-dashboard"></i><span>Dashboard</span></a>
          <a href="/messages" id="panelRef"><i class="fa fa-fw fa-envelope-o"></i><span>Messages</span></a>
          <a href="#" id="sponsorsLink"><i class="fa fa-fw fa-cogs"></i><span>Profile</span></a>
          <a href="/logout" id="aboutLink"><i class="fa fa-fw fa-sign-out"></i><span>Logout</span></a>
        </div>
      </nav>
      <button id="close-button" class="close-button">Close menu</button>
    </div>
  	<section class="user-background">
    <div id="user-background" class="user-bg">
      <img src="" alt="">
    </div>
      <div class="user-content">
        <header>
          <a href="#" id="open-button" class="white-color"><i class="fa fa-bars"></i></a>
          <a href="/" class="white-color" style="font-size:18px">| Go Back</a>
          <div class="right">
            <a href="#" class="white-color notifications-container" id="notifications"><span class="notifications bg-prm-color">4</span> <i class="fa fa-bell-o"></i></a>
          </div>
          <div id="user-details" class="user-details text-center">
            <img src="" alt="">
            <h3></h3>
            <p></p>
            <button class="button bg-prm-color button-rounded" id="send-message" data-toggle="modal" data-target="#composeModal"><i class="fa fa-envelope-o"></i> Send a message</button>
          </div>
          
        </header>
      </div>
    </section>
    <section>
      <div class="top-bar table">
        <div class="select-bar table-cell">
          <p>Already met with 43  people</p>
        </div>
        <div class="choices table-cell">
          <p>Skills</p>
        </div>
      </div>
      <div class="user-overview">
        <h3>Overview</h3>
        <div id="overview">      
        </div>
          <h3>My skills are </h3>
          <p id="skills"></p>
      </div>
    </section>

    <div class="modal fade" id="composeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Send message</h4>
          </div>
          <div class="modal-body">
            <form action="">
              <textarea>Hi there , would you like to meet?!</textarea>            
            </form>
          </div>
          <div class="modal-footer text-left">
            <button type="button" class="btn bg-prm-color">Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/js/libs/crossvent.min.js"></script>
    <script src="/js/user.js"></script>
  </body>

</html>
