header{
	padding:.5em;
	font-size:24px;
}
select{
	border:none;
	background-color: transparent;
	-webkit-appearance: none;
}
select::-ms-expand {
    display: none;
}
.top-bar{
	padding:1em;
	border-bottom:1px solid #ccc;
	position:relative;
}
.select-bar{
	display:inline-block;
	vertical-align: middle;
}
.select-bar.table-cell{
	display:table-cell;
	width:100%;
}
.choices{
	display:inline-block;
	vertical-align: middle;
}
.choices a,.choices span{
	color:#999;
}
.choices a.active{
	color:#333;
}
.cards {
	position:relative;
	padding:1em 0;
}
.card{
	background-color:#fff;
	padding:10px;
	margin-bottom:15px;
}
.eventLogo{
	background-image:linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)),url('/img/eventCover.jpg');
	min-height:100px;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}
.eventLogo > *{
	margin:0;
	display:inline-block;
	color:#fff;
}
.eventLogo h2{
	margin-top:15px;
	font-size:18px;
}
.eventLogo h3{
	font-size:16px;
}
.card-details p{
	margin: 0;
	padding-top:5px;
	color:#aaaaaa;
	font-size:16px;
}
.cards .col-xs-6:nth-child(2n+1){
	padding-right:7.5px;
}
.cards .col-xs-6:nth-child(2n){
	padding-left:7.5px;
}
.cards a{
	text-decoration:none;
}
.event-background{
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.event-background{
	color:#fff;
}
.event-background h1,.event-background h2{
	margin:0;
}
.event-details{
	padding:2em 0;
	text-align: center;
}
.choices.open{
	position:absolute;
	left:0;
	right:0;
	bottom:1px;
	top:0;
	background-color: #fff;
}
.choices.open i{
	line-height:56px;
}
.choices.open .input input{
	display:inline-block !important;
	border:none;
	padding-left:0;
}
.choices.open .input i{
	padding-left:1em;
	width:40px;
}