@font-face {
  font-family: "Proxima Nova";
  src: url('../fonts/ProximaNova-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url('../fonts/ProximaNova-Semibold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url('../fonts/ProximaNova-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
body {
  color: #313131;
  font-size: 16px;
  background-color: #ecf0f1;
  font-family:"Proxima Nova";
}
html,body{
  height:100%;
  width:100%;
}
a{
  display:inline-block;
}
form{
  position:relative;
}
.fullscreen{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  padding:1em;
}
.background-image{
  background-image:linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url('/img/appBackground.jpg');
  background-size:cover;
  color:#fff;
  overflow:hidden;
}
.overflow-scroll{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  overflow:auto;
  padding:1em;
}
.overflow-scroll form{
  padding-bottom:120px;
}
.background-image input::-webkit-input-placeholder {
    opacity:.8 !important; /* for chrome */
}

.background-image input:-moz-placeholder { /* Firefox 18- */
    opacity:.8;
}

.background-image input::-moz-placeholder {  /* Firefox 19+ */
    opacity:.8;
}

.background-image input:-ms-input-placeholder {  
   opacity:.8;
}
.prm-color{
  color:#56c2cc;
}
.bg-grey{
  background-color: #ecf0f1;
}
.bg-prm-color{
  color:#fff;
  background-color: #56c2cc;
}
.bg-linkedin-color{
  color:#fff;
  background-color: #007bb6;
}
.text-center{
  text-align:center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.left{
  float:left;
}
.right{
  float:right;
}
.font-light{
  font-weight:300;
}
.font-bold{
  font-weight:bold;
}
.button{
  padding:6px 12px;
  border:1px solid transparent;
  outline:none;
  border-radius:4px;
  position:relative;
  text-align: center;
}
.button:active{
  top:2px;
}
.button-big{
  width:100%;
  padding:14px;
}
.button-rounded{
  border-radius:30px;
}
form input,form textarea{
  width:100%;
  border:none;
  outline:none;
  background-color:transparent;
}
.input{
  position:relative;
  border-bottom:1px solid #bdccd4;
  margin-bottom:1em;
}
.with-icon{
  display:table;
  width:100%;
}
.with-icon > i{
  display:table-cell;
  color:#fff;
  margin-right:3px;
}
.with-icon > input{
  display:table-cell;
}
.input input,.input textarea{
  width:100%;
  padding:10px 15px;
}
.white-color{
  color:#fff;
}
.footer-bottom{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  text-align:center;
  color:#fff;
  padding:1em;
}
.footer-bottom .buttons{
  padding:1em;
}
.border-left-grey{
  border-left:1px solid #ccc;
}
.no-padding-left{
  padding-left:0;
}
.notifications-container{
  position:relative;
}
.notifications{
  border-radius: 50% 50% 0;
  font-size: 16px;
  left: -22px;
  line-height: 1;
  padding: 4px 5px;
  position: absolute;
  top: -5px;
}